@model StudentManagementSys.Controllers.Dto.StudentDto

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Student</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SchoolSession" class="control-label"></label>
                @if (User.IsInRole("student"))
                {
                    <input asp-for="SchoolSession" disabled class="form-control" />
                }
                @if (User.IsInRole("staff"))
                {
                    <input asp-for="SchoolSession" class="form-control" />
                }
                <span asp-validation-for="SchoolSession" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountId" class="control-label"></label>
                <input asp-for="AccountId" disabled class="form-control" />
                <span asp-validation-for="AccountId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CPA" class="control-label"></label>
                <input asp-for="CPA" disabled class="form-control" />
                <span asp-validation-for="CPA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalCredit" class="control-label"></label>
                <input asp-for="TotalCredit" disabled class="form-control" />
                <span asp-validation-for="TotalCredit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PassedCredit" class="control-label"></label>
                <input asp-for="PassedCredit" disabled class="form-control" />
                <span asp-validation-for="PassedCredit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClassRoomID" class="control-label"></label>
                <input asp-for="ClassRoomID" disabled class="form-control" />
                <span asp-validation-for="ClassRoomID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Program" class="control-label"></label>
                @if (User.IsInRole("student"))
                {
                    <input asp-for="Program" disabled class="form-control" />
                }
                @if (User.IsInRole("staff"))
                {
                    <input asp-for="Program" class="form-control" />
                }
                <span asp-validation-for="Program" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="SubjectEnlisted" class="control-label"></label>
                <input asp-for="SubjectEnlisted" class="form-control" />
                <span asp-validation-for="SubjectEnlisted" class="text-danger"></span>
            </div>*@
            <input type="hidden" asp-for="UID" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                @if (User.IsInRole("staff"))
                {
                    <input asp-for="Status" class="form-control" />
                }
                @if (User.IsInRole("student"))
                {
                    <input asp-for="Status" disabled class="form-control" />
                }
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirtDate" class="control-label"></label>
                <input asp-for="BirtDate" class="form-control" />
                <span asp-validation-for="BirtDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                @if (User.IsInRole("staff"))
                {
                    <input asp-for="Type" disabled class="form-control" />
                }
                @if (User.IsInRole("student"))
                {
                    <input asp-for="Type" disabled class="form-control" />
                }
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sex" class="control-label"></label>
                <input asp-for="Sex" class="form-control" />
                <span asp-validation-for="Sex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Relative" class="control-label"></label>
                <input asp-for="Relative" class="form-control" />
                <span asp-validation-for="Relative" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YearofStart" class="control-label"></label>
                <input asp-for="YearofStart" class="form-control" />
                <span asp-validation-for="YearofStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Religion" class="control-label"></label>
                <input asp-for="Religion" class="form-control" />
                <span asp-validation-for="Religion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Authority" class="control-label"></label>
                <input asp-for="Authority" disabled class="form-control" />
                <span asp-validation-for="Authority" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BCKey" class="control-label"></label>
                <input asp-for="BCKey" class="form-control" />
                <span asp-validation-for="BCKey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StoreID" class="control-label"></label>
                <input asp-for="StoreID" class="form-control" />
                <span asp-validation-for="StoreID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
