@model StudentManagementSys.Controllers.Dto.ClassroomDto

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Classroom</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CRID" />
            <div class="form-group">
                <label asp-for="StudentsID" class="control-label"></label>
                <input asp-for="StudentsID" class="form-control" />
                <span asp-validation-for="StudentsID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HomeRoomTeacherID" class="control-label"></label>
                <input asp-for="HomeRoomTeacherID" class="form-control" />
                <span asp-validation-for="HomeRoomTeacherID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MonitorID" class="control-label"></label>
                <input asp-for="MonitorID" class="form-control" />
                <span asp-validation-for="MonitorID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
