@{
    ViewData["Title"] = "Home Page";
}

@section head{
    <style type="text/css">
         body {
            background-image: url('/background.jpeg');
            margin: 0;
        }
    </style>
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>To <a">Student management system</a>.</p>
</div>
